@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --main-color: #022AE0;
    --light-color: #1741F4;
    --lighter-color: #476DFD;
    --dark-color: #07178E;
    --darker-color: #03033D;
}

@theme inline {
    --color-main: var(--main-color);
    --color-light: var(--light-color);
    --color-lighter: var(--lighter-color);
    --color-dark: var(--dark-color);
    --color-darker: var(--darker-color);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-montserrat: var(--font-montserrat);
    --font-dela-gothic-one: var(--font-dela-gothic-one);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html {
    @apply scroll-smooth;
}

body {
	@apply text-slate-800 text-base;
}

span {
	@apply block;
}

img {
	@apply w-full block;
}

textarea {
	@apply resize-none outline-none;
}

input {
    @apply outline-none;
}

textarea::-webkit-scrollbar {
	@apply hidden;
}

@layer components {
    .nav-link {
        @apply relative;
    }

    .nav-link::after {
        @apply absolute left-0 -bottom-1.5 h-0.75 w-[0%] content-[''] bg-main duration-230; 
    }

    .nav-link:hover::after {
        @apply w-full;
    }
}
