@import 'tailwindcss';

:root {
    --main-color: #022AE0;
    --light-color: #1741F4;
    --lighter-color: #476DFD;
    --dark-color: #07178E;
    --darker-color: #03033D;
}

@theme inline {
    --color-main: var(--main-color);
    --color-light: var(--light-color);
    --color-lighter: var(--lighter-color);
    --color-dark: var(--dark-color);
    --color-darker: var(--darker-color);
    --font-montserrat: var(--font-montserrat);
    --font-dela-gothic-one: var(--font-dela-gothic-one);
}

html {
    @apply scroll-smooth;
}

body {
	@apply text-slate-800 text-base;
}

span {
	@apply block;
}

img {
	@apply w-full block;
}

textarea {
	@apply resize-none outline-none;
}

input {
    @apply outline-none;
}

textarea::-webkit-scrollbar {
	@apply hidden;
}

@layer components {
    .nav-link {
        @apply relative;
    }

    .nav-link::after {
        @apply absolute left-0 -bottom-1.5 h-0.75 w-[0%] content-[''] bg-main duration-230; 
    }

    .nav-link:hover::after {
        @apply w-full;
    }

    .legals-title {
        @apply font-bold text-2xl mb-1;
    }

    .legals-subtitle {
        @apply font-bold text-[1.4rem] leading-7 md:leading-normal pt-2;
    }
    
    .legals-text-container {
        @apply flex flex-col gap-1 text-[.975rem] leading-6 md:leading-normal md:text-base;
    }
}
